{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% trans "Django multilang" %}</title>
  </head>

  <body>
    <nav>
      <div id="lang-selector">
        
      </div>
    </nav>

    {% block content %}
    {% endblock %}

    {% block scripts %}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous">
    </script>
    
    {% endblock %}
  </body>
</html>